@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,800;0,900;1,300&family=Ubuntu:ital,wght@0,300;0,400;1,300&display=swap");
* {
   border: 0;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: "Ubuntu", sans-serif;
}

/* Header styles */
.main-header-container {
   background: #355660;
   width: 100%;
   height: 75vh;
   position: relative;
}

.login-bars h4 {
   position: absolute;
   color: white;
   font-family: "Montserrat", sans-serif;
   font-size: 1.2rem;
   top: 3%;
   right: 8%;
   text-transform: uppercase;
}

.login-bars h4 {
   position: absolute;
   color: white;
   font-family: "Montserrat", sans-serif;
   font-size: 1rem;
   top: 3%;
   right: 12%;
   text-transform: uppercase;
}

.login-bars i {
   position: absolute;
   color: white;
   font-size: 1rem;
   cursor: pointer;
   top: 3%;
   right: 5%;
   margin-top: 2px;
   text-transform: uppercase;
}

.main-logo {
   position: absolute;
   max-width: 16%;
   min-width: 88px;
   height: 7rem;
   top: 0;
   left: 50%;
   transform: translateX(-50%);

   text-align: center;
   font-size: 1.6rem;
   text-transform: uppercase;
}
.main-logo img {
   width: 100%;
   opacity: 0.85;
}
.main-items {
   height: 100%;
}
.join-grid {
   display: grid;
   grid-template-columns: 1fr;
   grid-gap: 1rem;
   width: 80%;
   height: 100%;
   margin: auto;
   align-items: center;
   justify-content: center;
}

.join-grid .time {
   text-align: center;
   background: #ffe009;
   height: auto;
   margin-top: 8rem;
   width: fit-content;
   margin: 0 auto;
   align-self: center;
   padding-bottom: 2rem;
}

/* .join-grid .time {
   text-align: center;
   background: #ffe009;
   height: 80%;
   margin-top: 8rem;
} */
.time {
   font-family: "Montserrat", sans-serif;
   color: #355660;
   padding-top: 2rem;
}
.time div:nth-child(1) h6 {
   font-size: 0.8rem;
   padding: 1rem 0 0.6rem;
   text-transform: uppercase;
}
.time div:nth-child(1) h3 {
   font-size: 1.6rem;
   font-family: "Ubuntu", sans-serif;
   padding: 0.3rem;
}

.time div:nth-child(1) p {
   width: 70%;
   margin: auto;
   padding-bottom: 2rem;
}

.time div:nth-child(2) h6 {
   font-size: 0.8rem;
   padding: 1rem 0 0.6rem;
   text-transform: uppercase;
}
.time div:nth-child(2) h3 {
   font-size: 1.6rem;
   font-family: "Ubuntu", sans-serif;
   padding: 0.2rem;
}

.time div:nth-child(3) h6 {
   font-size: 0.8rem;
   padding: 0.3rem;
   font-family: "Montserrat", sans-serif;
   margin-top: 2rem;
   text-transform: uppercase;
}
.main-items h1 {
   font-size: 2.5rem;
   color: white;
   text-transform: uppercase;
   font-family: "Montserrat", sans-serif;
   margin: 6rem 0 0;
   text-align: center;
}

.python-container {
   width: 100%;
   background: white;
   padding: 2rem 0;
   margin-bottom: 2rem;
   box-shadow: 3px 3px 9px 3px #ccc;
}
.python-container h3 {
   color: #355660;
   text-align: center;
   font-size: 1.3rem;
   margin: 1rem 0;
   text-transform: uppercase;
   font-family: "Montserrat", sans-serif;
}
.python-card-container {
   width: 80%;
   margin: 0 auto;
   display: grid;
   grid-template-columns: 1fr;
   grid-gap: 2rem;
}
.python-inner {
   display: grid;
   grid-template-columns: 1fr 3fr;
   grid-gap: 1rem;
}
.python-inner i {
   align-self: center;
   justify-self: center;
   font-size: 2.5rem;
   color: #a82544;
}

@media (min-width: 800px) {
   .python-card-container {
      grid-template-columns: repeat(3, 1fr);
   }
   .join-grid {
      grid-template-columns: 2fr 1fr;
   }
   .join-grid {
      grid-gap: 1rem;
   }
   .main-items h1 {
      font-size: 4rem;
      margin: 0;
   }
   .login-bars h4 {
      right: 8%;
   }
}
/* End of header styles */

/* ********************************************************* */

/* What you need sectiion */
.what-you-need-container {
   width: 100%;
   background: #ffe009;
   height: auto;
   position: none;
   top: 0;
   padding: 1rem 0;
}
.enrol-now {
   width: 80%;
   height: 100%;
   margin: 0 auto;
   display: grid;
   grid-template-columns: 1fr;
   grid-gap: 1rem;
   align-items: center;
   color: #355660;
}

.enrol-now h4,
.enrol-now a {
   justify-self: center;
}

.what-you-need-container a {
   text-decoration: none;
   color: white;
   background: #355660;
   padding: 0.6rem 1rem;
   max-width: 140px;
   text-align: center;
   justify-self: center;
   text-transform: uppercase;
   transition: all 0.5s ease;
}
.what-you-need-container a:hover {
   color: #fde74c;
}

.video-section {
   width: 80%;
   margin: 2rem auto;
}

.video-section h1 {
   font-size: 1.2rem;
   text-transform: uppercase;
   font-family: "Montserrat", sans-serif;
   color: #355660;
   font-weight: 800;
}
.video-section-grid {
   display: grid;
   grid-template-columns: 1fr;
   grid-gap: 3rem;
   margin-top: 2rem;
}
.video-section-grid video {
   width: 100%;
   height: auto;
   box-shadow: 2px 2px 9px 2px #ccc;
}
.video-text {
   margin: auto;
   color: #355660;
   font-size: 1.1rem;
}

.yellow-container {
   width: 100%;
   height: auto;
   background: #ffe009;
   padding: 2rem 0;
}
.yellow-grid {
   width: 80%;
   margin: 0 auto;
   display: grid;
   grid-template-columns: 1fr;
   grid-gap: 3rem;
}
.yellow-grid h4 {
   text-transform: uppercase;
   grid-gap: 4rem;
   color: #355660;
   font-family: "Montserrat", sans-serif;
   font-size: 1.7rem;
}

.yellow-container a {
   font-size: 1.8rem;
   color: white;
   background: #355660;
   text-transform: uppercase;
   display: block;
   margin: 0 auto;
   text-align: center;
   width: 14rem;
   text-decoration: none;
   margin-top: 1rem;
   font-weight: 800;
   padding: 0.5rem;
   border-radius: 5px;
   transition: all 0.4s ease-in;
   font-family: "Montserrat", sans-serif;
}
.yellow-container a:hover {
   color: #fde74c;
}

@media (min-width: 800px) {
   .enrol-now {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr;
   }
   .what-you-need-container {
      position: sticky;
      top: 0;
      z-index: 20;
   }
   .what-you-need-container a {
      justify-self: end;
   }
   .video-section-grid {
      grid-template-columns: 2fr 1fr;
   }
   .yellow-grid {
      grid-template-columns: repeat(2, 1fr);
   }
   .video-section h1 {
      font-size: 2rem;
   }
}
/* End of what you need section */

/* ******************************************************************* */

.outline-container {
   width: 80%;
   margin: 2rem auto;
}
.outline-heading {
   display: grid;
   grid-template-columns: 1fr;
   grid-gap: 2rem;
}
.outline-heading h1 {
   font-family: "Montserrat", sans-serif;
   font-size: 2.1rem;
   text-transform: uppercase;
   font-weight: 800;
   color: #355660;
}
.outline-heading a {
   text-decoration: none;
   color: #355660;
   padding: 10px 1rem;
   border: 1px solid #355660;
   width: 14rem;
   text-align: center;
   justify-self: start;
   transition: all 0.4s ease-in;
   border-radius: 5px;
}
.outline-heading a:hover {
   background: #355660;
   color: #fde74c;
}
.outline-container h5 {
   font-size: 1.3rem;
   color: #355660;
   text-transform: uppercase;
   font-family: "Montserrat", sans-serif;
   padding: 2rem 0;
}
.outline-container .first-class {
   font-family: "Montserrat", sans-serif;
   text-transform: uppercase;
   color: #355660;
   font-size: 1.8rem;
}
.bottom-line {
   width: 100%;
   height: 3px;
   background: #fde74c;
   margin: 2rem 0;
}
.getting-started h1 {
   font-size: 1.8rem;
   color: #355660;
   font-family: "Montserrat", sans-serif;
   text-transform: uppercase;
   padding-bottom: 1rem;
}
.getting-started p {
   color: #355660;
   font-size: 1.2rem;
   padding: 0.6rem 0;
}
.getting-started p i {
   padding-right: 0.4rem;
}
.by-the-end {
   font-weight: 800;
}

.learn span {
   font-weight: 800;
   text-transform: uppercase;
   font-family: "Montserrat", sans-serif;
}
.learn {
   margin: 1rem 0;
}

.project {
   font-weight: 800;
   font-family: "Montserrat", sans-serif;
}

@media (min-width: 830px) {
   .outline-heading {
      grid-template-columns: 1fr 1fr;
   }
   .outline-heading a {
      justify-self: end;
   }
}
/* Second class */
.outline-container .second-class {
   font-family: "Montserrat", sans-serif;
   text-transform: uppercase;
   color: #355660;
   font-size: 1.8rem;
   margin-top: 3rem;
}

/* Third class */
.outline-container .third-class {
   font-family: "Montserrat", sans-serif;
   text-transform: uppercase;
   color: #355660;
   font-size: 1.8rem;
   margin-top: 3rem;
}

/* portfolio */
.portfolio-container {
   width: 80%;
   margin: 3rem auto;
}
.portfolio-container h1 {
   font-family: "Montserrat", sans-serif;
   font-weight: 800;
   text-transform: uppercase;
   padding-bottom: 2rem;
   color: #355660;
}
.portfolio-container p {
   font-size: 1.2rem;
   color: #355660;
   padding-bottom: 1rem;
}
.portfolio-container ul {
   list-style: none;
}

.portfolio-container ul i {
   padding-right: 0.5rem;
}
.portfolio-container ul li {
   font-size: 1.2rem;
   color: #355660;
   padding: 0.5rem 0;
}

/* End of portfolio */

/* what our students think */
.students-think-container img {
   width: 100%;
   /* height: auto; */
   object-fit: cover;
   max-height: 500px;
}
.students-think-container h1 {
   width: 80%;
   margin: 0 auto 2rem;
   font-family: "Montserrat", sans-serif;
   text-transform: uppercase;
   color: #355660;
   font-weight: 800;
}
.students-think-grid {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}

.students-think-grid h4 {
   position: absolute;
   top: 5%;
   left: 5%;
   font-size: 1.6rem;
   text-transform: capitalize;
   color: white;
}

.students-think-grid .img {
   position: relative;
   vertical-align: top;
}

/* be future ready styles */

.future-container {
   width: 100%;
   height: auto;
   background: #ffe009;
   margin: 2rem auto;
   padding: 2rem 0;
}
.future-container h1 {
   font-size: 2.1rem;
   font-family: "Montserrat", sans-serif;
   color: #355660;
   text-transform: uppercase;
   font-weight: 800;
   width: 80%;
   margin: 1rem auto;
}

.future-container p {
   font-size: 1.2rem;
   color: #355660;
   width: 80%;
   margin: 2rem auto;
}
.future-grid {
   width: 80%;
   margin: 0 auto;
   display: grid;
   grid-template-columns: 1fr;
   grid-gap: 3rem;
   text-align: center;
}
.future-grid h4 {
   text-transform: uppercase;
   grid-gap: 4rem;
   color: #355660;
   font-family: "Montserrat", sans-serif;
   font-size: 1.7rem;
}
.future-grid h5 {
   font-size: 2rem;
   color: #355660;
   font-weight: 800;
   padding: 1rem 0;
   font-family: "Montserrat", sans-serif;
   display: inline-block;
}

.future-grid span {
   color: #a82544;
   font-size: 1.2rem;
   font-family: "Montserrat", sans-serif;
   font-weight: 800;
   text-transform: uppercase;
   padding-left: 1rem;
}

.future-container a {
   font-size: 1.8rem;
   color: white;
   background: #355660;
   text-transform: uppercase;
   display: block;
   margin: 0 auto;
   text-align: center;
   width: 14rem;
   text-decoration: none;
   margin-top: 1rem;
   font-weight: 800;
   padding: 0.5rem;
   border-radius: 5px;
   transition: all 0.4s ease-in;
   font-family: "Montserrat", sans-serif;
}
.future-container a:hover {
   color: #ffe009;
}

@media (min-width: 800px) {
   .future-grid {
      grid-template-columns: repeat(2, 1fr);
   }
   .end {
      justify-self: end;
   }
}

/* End of be future ready styles */

/* ******************************************************************* */

/* Question accordion styles */
.question-container {
   width: 80%;
   margin: 0 auto;
}

.question-container h1 {
   font-family: "Montserrat", sans-serif;
   color: #355660;
   font-weight: 800;
   padding-bottom: 2rem;
}
.question {
   background: white;
   border-radius: 5px;
   /* box-shadow: 2px 2px 9px 2px #fde74c; */
   border-bottom: 2px solid #ffe009;
   /* padding: 0.6rem 0; */
   margin-bottom: 2rem;
}
.question-title {
   display: flex;
   justify-content: space-between;
   align-items: center;
   text-transform: capitalize;
   padding-bottom: 0.5rem;
}
.question-title p {
   margin-bottom: 0;
   color: #355660;
   font-weight: 800;
}
.question-btn {
   font-size: 1.5rem;
   background: transparent;
   border-color: transparent;
   cursor: pointer;
   color: #355660;
   transition: all 0.4s ease-in;
}
.question-btn:focus {
   outline: none;
   border: none;
}
.question-btn:hover {
   transform: rotate(90deg);
}
.question-text {
   padding: 1rem 0;
   color: #355660;
}

/* hide text */
.question-text {
   display: none;
}
.show-text .question-text {
   display: block;
}
.minus-icon {
   display: none;
}
.show-text .minus-icon {
   display: inline;
}
.show-text .plus-icon {
   display: none;
}

.more {
   margin-bottom: 2rem;
   color: #355660;
   font-weight: bold;
}
/* End of question accordion styles */
